@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat|Roboto');

$font-text: 'Roboto', sans-serif;
$font-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$font-header: 'Montserrat', sans-serif;
$font-title: 'Bebas Neue', sans-serif;
$bg-color: #254643;
$bg-color-text: #254643;
$bg-color-media: #ffffff;
$bg-color-code: #272822;
$font-color: #ffffff;
$font-color-link: #7ec1ff;
$font-color-visited: #7ec1ff;
$font-color-strong: #da3e52;
$font-color-media: #f8f8f2;
$header-image: "../images/palms-bg-small.png";

// scaling, method credit https://css-tricks.com/optimizing-large-scale-displays/
$base-font-size: 1em;
$base-line-height: 1.75;
$header-line-height: 1.25;

// breakpoints
// rather than put the breakpoints on common resolutions, why not put them in between?
// This way, widths slightly below the common one won't look tiny.
$bp-mini: 28em; // 448px
$bp-small: 40em; // 640px
$bp-medium: 60em; // 960px
$bp-large: 82em; // 1312px
$bp-xlarge: 100em; // 1600px
$bp-xxlarge: 150em; // 2400px
$bp-xxxlarge: 200em; // 3200px

// media queries
$mq-mini: "(min-width: #{$bp-mini})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-xxxlarge: "(min-width: #{$bp-xxxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)";

html {
    height: 100%;
}

body {
    min-height: 100%; 
    margin: 0px;
    width: 100%;

    background-color: $bg-color;
    color: $font-color;
    
    font-family: $font-text;
    font-size: $base-font-size*.9;
    line-height: $base-line-height*.9;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";

    @media #{$mq-small} {
        padding-top: 1em;
        font-size: $base-font-size;
        line-height: $base-line-height;
        grid-template-columns: 1fr 80% .1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
            "header main right"
            "header footer right";
    }

    @media #{$mq-medium} {
        font-size: $base-font-size;
        line-height: $base-line-height*1.05;
        grid-template-columns: 1fr 60% .5fr;
    }
  
    @media #{$mq-xlarge} {
        font-size: $base-font-size*1.1;
        grid-template-columns: 1fr 45% 1fr;
    }
  
    @media #{$mq-xxlarge} {
        font-size: $base-font-size*1.2;
        grid-template-columns: 1fr 33% 1fr;
    }

    @media #{$mq-xxxlarge} {
        font-size: $base-font-size*1.4;
        grid-template-columns: 1fr 25% 1fr;
    }
}

main {
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
    align-content: start;
}

.right {
    grid-area: right;
    display: none;

    @media #{$mq-medium} {
        display: block;
    }
}

article {
    grid-column: span 2;
    padding-left: 2em;
    padding-right: 2em;
    background-color: $bg-color-text;
    //border-radius: .3em;
    //box-shadow: 0px 0px 8em #272822;
    overflow: hidden;
}

.half {
    grid-column: span 2;

    @media #{$mq-small} {
        grid-column: span 1;
    }
}

a {
    color: $font-color-link;
    text-decoration: underline;
  
    &:visited {
        color: $font-color-visited;
    }
    &:hover,
    &:focus {
      color: $font-color-strong;
      text-decoration: bold;
    }
}

strong {
    color: $font-color-strong;
}

h1, h2 {
    padding: .5em 1.5em .5em 1.5em;
    margin: 0em;
    color: $font-color;
    text-align: center;
    font-family: $font-title;
    font-weight: lighter;
  }

h3, h4, h5, h6 {
  padding: .1em .1em .1em .1em;
  margin: 0em;
  color: $font-color;
  text-align: center;
  font-family: $font-header;
  font-weight: lighter;
}

hr {
  border-color:rgba(255,255,255,.15);
  width: 33%;
  font-weight: lighter;
}

p {
    padding: 0.5em 1em 0.5em 1em;
    margin: 0;

    @media #{$mq-medium} {
        padding: 0.5em 2em 0.5em 2em;
    }

    @media #{$mq-xlarge} {
        padding: 0.5em 3em 0.5em 3em;
    }
}

.media {
    margin: .5em 0em .5em 0em;
    color: $font-color-media;
    background-color: $bg-color-media;
    text-align: center;
    line-height: 0em;
    padding: 0em;
}

.media img {
    max-width: 100%;
    height: auto;
    image-rendering: pixelated;
}

.media-group {
    margin: .5em 0em .5em 0em;
    padding: 1em 0em 1em 0em;
    color: $font-color-media;
    background-color: $bg-color-media;
    text-align: center;
    line-height: 1em;
}

.media-group img {
    max-width: 100%;
    height: auto;
    image-rendering: pixelated;
}

.media-group img {
    margin: 0.5em;
}

.media-embed {
    position: relative;
    width: 100.2%;
    height: 0;
    padding: 0em 0em 56.25% 0em;
}

.button-group a {
    padding: .4em;
    margin: .5em;
    background-color: $font-color-link;
    color: $font-color-media;
    font-size: 1em;
    font-weight: bold;
    //border-radius: .3em;
    text-decoration: none;

    &:visited {
        background-color: darken($font-color-link, 10%);;
    }
    &:hover,
    &:focus {
        padding: .5em;
        margin: .4em;
        text-decoration: underline;
        background-color: $font-color-strong;
    }
}

.button-group {
    margin: .5em 0em .5em 0em;
    padding: 1em 0em 1em 0em;
    text-align: center;
    line-height: 1em;
}

.embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.caption {
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
    padding: 0em 4em 1em 4em;
    color: $bg-color-code;
}

.small {
    font-size: 0.85em;
    padding: 0em 4em 1em 4em;
    margin-top: -.5em;
}

.header-image {
    background-image: url($header-image);
    width: 100%;
    height: 150px;
    background-position: 50% 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

.flip-vertical {
    transform: scaleY(-1);
}

blockquote {
    background-color: $bg-color-media;
    border-left: .5em solid $font-color-link;
    color: $font-color-media;
    margin: .5em 1em .5em 1em;
    //border-top-right-radius: 4px;
    //border-bottom-right-radius: 4px;
}

#header {
    grid-area: header;
    justify-self: center;
    text-align: center;
    padding-bottom: 1em;
    font-family: $font-code;
    line-height: 1.3em;
    z-index: 1;
    direction: rtl;
    padding-top: 1em;

    @media #{$mq-small} {
        padding-left: 1em;
        padding-right: .5em;
        text-align: right;
        justify-self: right;
    }

    @media #{$mq-medium} {
        padding-right: 1em;
    }
}

a.header {
    color: $font-color-link;
    text-decoration: none;
  
    &:visited {
        color: $font-color-link;
    }
    &:hover,
    &:focus {
        text-decoration: underline;
        color: $font-color-strong;
    }
}

#footer {
    grid-area: footer;
    align-self: end;
    text-align: center;
    color: $font-color-media;
    background-color: $bg-color-media;
    font-size: 16px;
    font-family: $font-text;
}

.home-title {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0em .2em;
    font-family: $font-code;
}

.home-media {
    margin: 0em 0em .1em 0em;
    color: $font-color-media;
    background-color: $bg-color-media;
    text-align: center;
    line-height: 0em;
    padding: 0em;
    overflow: hidden;
    max-height: 180px;
}

.half > .home-media {
    max-height: 120px;
}

.home-media img {
    min-width: 100%;
    image-rendering: pixelated;
}

.home-caption {
    font-style: italic;
    padding: 0em 1em .2em 1em;
    color: $bg-color-code;
}

.bgchanger {
    box-sizing: border-box;
    margin-top: 3px;
    margin-left: .5em;
    margin-bottom: .5em;
    outline-style: solid;
    outline-color: $font-color-link;
    outline-width: 3px;
    width: 2em;
    height: 2em;
}

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=css+clike+javascript+c+csharp+cpp&plugins=toolbar */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

 code,
 pre {
     color: $font-color-media;
     background: none;
     text-shadow: 0 1px rgba(0, 0, 0, 0.3);
     font-family: $font-code;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     line-height: 1.5;
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }
 
 /* Code blocks */
 pre {
     padding: .1em .5em;
     margin: .5em 1em .5em 1em;
     overflow: auto;
     border-radius: 0.3em;     

    @media #{$mq-small} {
        font-size: 0.9em;
    }
  
    @media #{$mq-large} {
        font-size: 0.8em;
        margin: .5em 2em .5em 2em;
    }
 }
 
 :not(pre) > code,
 pre {
     background: $bg-color-code;
 }
 
 /* Inline code */
 :not(pre) > code {
     padding: .1em;
     border-radius: .3em;
     white-space: normal;

    @media #{$mq-small} {
        font-size: 0.9em;
    }
  
    @media #{$mq-large} {
        font-size: 0.8em;
    }
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: slategray;
 }
 
 .token.punctuation {
     color: #f8f8f2;
 }
 
 .namespace {
     opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
     color: #f92672;
 }
 
 .token.boolean,
 .token.number {
     color: #ae81ff;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
     color: #a6e22e;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
     color: #f8f8f2;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
     color: #e6db74;
 }
 
 .token.keyword {
     color: #66d9ef;
 }
 
 .token.regex,
 .token.important {
     color: #fd971f;
 }
 
 .token.important,
 .token.bold {
     font-weight: bold;
 }
 .token.italic {
     font-style: italic;
 }
 
 .token.entity {
     cursor: help;
 }
 
 div.code-toolbar {
     position: relative;
 }
 
 div.code-toolbar > .toolbar {
     position: absolute;
     top: .3em;
     right: .2em;
     transition: opacity 0.3s ease-in-out;
     opacity: 0;
 }
 
 div.code-toolbar:hover > .toolbar {
     opacity: 1;
 }
 
 div.code-toolbar > .toolbar .toolbar-item {
     display: inline-block;
 }
 
 div.code-toolbar > .toolbar a {
     cursor: pointer;
 }
 
 div.code-toolbar > .toolbar button {
     background: none;
     border: 0;
     color: inherit;
     font: inherit;
     line-height: normal;
     overflow: visible;
     padding: 0;
     -webkit-user-select: none; /* for button */
     -moz-user-select: none;
     -ms-user-select: none;
 }
 
 div.code-toolbar > .toolbar a,
 div.code-toolbar > .toolbar button,
 div.code-toolbar > .toolbar span {
     color: #bbb;
     font-size: .8em;
     padding: 0 .5em;
     background: #f5f2f0;
     background: rgba(224, 224, 224, 0.2);
     box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
     border-radius: .5em;
 }
 
 div.code-toolbar > .toolbar a:hover,
 div.code-toolbar > .toolbar a:focus,
 div.code-toolbar > .toolbar button:hover,
 div.code-toolbar > .toolbar button:focus,
 div.code-toolbar > .toolbar span:hover,
 div.code-toolbar > .toolbar span:focus {
     color: inherit;
     text-decoration: none;
 } 

pre::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background-color: transparent;
    height: 10px;
}

pre::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: $bg-color;
}